
table {
  border-collapse: collapse;
  border: 5px solid red;
  margin-left: 10px;}
th, td {
  text-align: left;
  padding: 5px;
 width:10%;
}
table th:not(:first-child), table td:not(:first-child) {
  width: 10%;}
tr:nth-child(even) {
  background-color: #f2f2f2;}
.container {
  border-radius: 5px;
  padding: 16px;
  margin-top: 20px;}
.Progress-bar {
  width: 100%;
  background-color: #ddd;}
Progress-bar-fill {
  height: 15px;
  background-color: #4CAF50;}
